# Benson Project

Analysis performed by Team Awesomesauce

In [2]:
#import relavant packages
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

Before loading our data into Python, we concatenated 6 relevant .csv files into a master file

In [4]:
#load the master csv file into 
#print first 15 lines

df = pd.read_csv('finalfile.txt', low_memory=False)
print(df.head(n=15))

     C/A  UNIT       SCP STATION LINENAME DIVISION        DATE      TIME  \
0   A002  R051  02-00-00   59 ST   NQR456      BMT  05/28/2016  00:00:00
1   A002  R051  02-00-00   59 ST   NQR456      BMT  05/28/2016  04:00:00
2   A002  R051  02-00-00   59 ST   NQR456      BMT  05/28/2016  08:00:00
3   A002  R051  02-00-00   59 ST   NQR456      BMT  05/28/2016  12:00:00
4   A002  R051  02-00-00   59 ST   NQR456      BMT  05/28/2016  16:00:00
5   A002  R051  02-00-00   59 ST   NQR456      BMT  05/28/2016  20:00:00
6   A002  R051  02-00-00   59 ST   NQR456      BMT  05/29/2016  00:00:00
7   A002  R051  02-00-00   59 ST   NQR456      BMT  05/29/2016  04:00:00
8   A002  R051  02-00-00   59 ST   NQR456      BMT  05/29/2016  08:00:00
9   A002  R051  02-00-00   59 ST   NQR456      BMT  05/29/2016  12:00:00
10  A002  R051  02-00-00   59 ST   NQR456      BMT  05/29/2016  16:00:00
11  A002  R051  02-00-00   59 ST   NQR456      BMT  05/29/2016  20:00:00
12  A002  R051  02-00-00   59 ST   NQR456      BMT  05/30/2016  00:00:00
13  A002  R051  02-00-00   59 ST   NQR456      BMT  05/30/2016  04:00:00
14  A002  R051  02-00-00   59 ST   NQR456      BMT  05/30/2016  08:00:00

       DESC     ENTRIES  \
0   REGULAR  0005682962
1   REGULAR  0005683000
2   REGULAR  0005683030
3   REGULAR  0005683175
4   REGULAR  0005683437
5   REGULAR  0005683774
6   REGULAR  0005683957
7   REGULAR  0005683987
8   REGULAR  0005684003
9   REGULAR  0005684125
10  REGULAR  0005684329
11  REGULAR  0005684589
12  REGULAR  0005684749
13  REGULAR  0005684764
14  REGULAR  0005684773

   EXITS
0   0001924340                                    ...
1   0001924347                                    ...
2   0001924381                                    ...
3   0001924474                                    ...
4   0001924533                                    ...
5   0001924560                                    ...
6   0001924599                                    ...
7   0001924601                                    ...
8   0001924613                                    ...
9   0001924683                                    ...
10  0001924731                                    ...
11  0001924761                                    ...
12  0001924791                                    ...
13  0001924798                                    ...
14  0001924834                                    ...